<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<div th:fragment="footer">
    <section class="section-padding footer bg-white border-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <h4 class="mb-5 mt-0"><a class="logo" href="index.html"><img src="img/logo.png"
                                                                                 alt="osahan logo"></a></h4>
                    <p>86 Petersham town, New South wales<br>Waedll Steet, Australia PA 6550</p>
                    <p class="mb-0"><a class="text-dark" href="#">+61 525 240 310</a></p>
                    <p class="mb-0"><a class="text-success" href="#">iamosahan@gmail.com</a></p>
                    <p class="mb-0"><a class="text-primary" href="#">www.askbootstrap.com</a></p>
                </div>
                <div class="col-lg-2 col-md-2">
                    <h6 class="mb-4">OUR PROPERTIES</h6>
                    <ul>
                        <li><a href="#">Single Story</a></li>
                        <li><a href="#">Dubble Story</a></li>
                        <li><a href="#">Tripple Story</a></li>
                        <li><a href="#">Resort</a></li>
                        <li><a href="#">Home in Merrick Way</a></li>
                        <ul>
                </div>
                <div class="col-lg-2 col-md-2">
                    <h6 class="mb-4">QUICK LINKS</h6>
                    <ul>
                        <li><a href="#">Home in Coral Gables</a></li>
                        <li><a href="#">Villa on Grand Avenue</a></li>
                        <li><a href="#">Home in Merrick Way</a></li>
                        <li><a href="#">Land / Plots</a></li>
                        <li><a href="#">Restaurent</a></li>
                        <ul>
                </div>
                <div class="col-lg-2 col-md-2">
                    <h6 class="mb-4">ABOUT OP</h6>
                    <ul>
                        <li><a href="#">Company Information</a></li>
                        <li><a href="#">Careers</a></li>
                        <li><a href="#">Store Location</a></li>
                        <li><a href="#">Affillate Program</a></li>
                        <li><a href="#">Copyright</a></li>
                        <ul>
                </div>
                <div class="col-lg-3 col-md-3">
                    <h6 class="mb-4">NEWSLETTER</h6>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Email Address..."
                               aria-label="Recipient's username" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-secondary" type="button"><i class="mdi mdi-arrow-right"></i></button>
                        </div>
                    </div>
                    <p class="text-info newsletter-info"><i class="mdi mdi-email-variant"></i> Get the most recent
                        updates from our site and be updated your self...</p>
                    <h6 class="mb-3 mt-4">GET IN TOUCH</h6>
                    <div class="footer-social">
                        <a class="btn-facebook" href="#"><i class="mdi mdi-facebook"></i></a>
                        <a class="btn-twitter" href="#"><i class="mdi mdi-twitter"></i></a>
                        <a class="btn-instagram" href="#"><i class="mdi mdi-instagram"></i></a>
                        <a class="btn-whatsapp" href="#"><i class="mdi mdi-whatsapp"></i></a>
                        <a class="btn-messenger" href="#"><i class="mdi mdi-facebook-messenger"></i></a>
                        <a class="btn-google" href="#"><i class="mdi mdi-google"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="pt-4 pb-4 text-center">
        <p class="mt-0 mb-0">© Copyright 2018 <strong class="text-dark">Osahan Property</strong>. All Rights Reserved
        </p>
        <small class="mt-0 mb-0">
            Made with <i class="mdi mdi-heart text-danger"></i> by <a class="text-primary" target="_blank"
                                                                      href="https://askbootstrap.com/">Ask Bootstrap</a>
        </small>
    </section>
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Contact form JavaScript -->
    <!-- Do not edit these files! In order to set the email address and subject line for the contact form go to the bin/contact_me.php file. -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>
    <!-- select2 Js -->
    <script src="vendor/select2/js/select2.min.js"></script>
    <!-- Custom -->
    <script src="js/custom.js"></script>
</div>
</html>