<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="icon" type="/images/png" href="images/favicon.png">
    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Icons -->
    <link href="vendor/icons/css/materialdesignicons.min.css" media="all" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Select2 CSS -->
    <link href="vendor/select2/css/select2-bootstrap.css"/>
    <link href="vendor/select2/css/select2.min.css" rel="stylesheet"/>
    <!-- Custom styles for this template -->
    <link href="css/osahan.css" rel="stylesheet">
    <title>Immo</title>
</head>
<div th:fragment="header">

</div>
</html>